<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:value="${collection.getName()}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <th:block th:each="item:${items}">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header" th:text="${item.getName()}"></div>
            <div class="card-body">
                <div th:if="${!collection.getText1()!==null && !collection.getText1().length===0}">
                    <h5 class="card-title" th:text="${collection.getText1()}" ></h5>
                    <p class="card-text" th:text="${item.getText1()}"></p>
                </div>

                <div th:if="${!collection.getText2()!==null && !collection.getText2().length===0}">
                    <h5 class="card-title" th:text="${collection.getText2()}" ></h5>
                    <p class="card-text" th:text="${item.getText2()}"></p>
                </div>

                <div th:if="${!collection.getText3()!==null && !collection.getText3().length===0}">
                    <h5 class="card-title" th:text="${collection.getText3()}" ></h5>
                    <p class="card-text" th:text="${item.getText3()}"></p>
                </div>

            </div>


            <div class="card-footer bg-transparent border-secondary">
                <button class="btn " th:text="${item.getCountLikes()}"><i class="fa fa-heart"></i></button>
            </div>

        </div>
    </th:block>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>