<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" th:href="@{/css/new_collection.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<div th:insert="~{fragments/head_fragment :: head}"></div>

<form th:action="@{/collection/edit?id=} + ${collection.getId()}" th:method="POST" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" th:value="${collection == null ? '' : collection.getName()}" >


    <br>
<!--    th:style="${(collection.getImage() == null || collection.getImage().isEmpty()) ? '' : 'background-image:url('+ collection.getImage()+')'}"-->
    <div  class="drop-zone" id="drop-zone-m">
        <span class="drop-zone__prompt">Drop file here or click to upload</span>
        <input type="file" name="img" class="drop-zone__input" th:value="${(collection.getImage())}">
    </div>


    <br>

    <label for="description">Description:</label>
    <input type="text" name="description" id="description" th:value="${collection == null ? '' : collection.getDescription()}">

    <br>

    <label for="theme">Theme:</label>
    <select name="theme" id="theme" th:value="${collection == null ? '' : collection.getTheme()}">
        <option value="Alcohol">Alcohol</option>
        <option value="Books">Books</option>
        <option value="Stamps">Stamps</option>
        <option value="Coins">Coins</option>
        <option value="Toys">Toys</option>
        <option value="Cars">Cars</option>
        <option value="Other">Other</option>
    </select>

    <br>

    <label for="text1">First text field name:</label>
    <input type="text" id="text1" name="text1" th:value="${collection == null ? '' : collection.getText1()}">

    <br>

    <label for="text2">Second text field name:</label>
    <input type="text" id="text2" name="text2" th:value="${collection == null ? '' : collection.getText2()}">

    <br>

    <label for="text3">Third text field name:</label>
    <input type="text" id="text3" name="text3" th:value="${collection == null ? '' : collection.getText3()}">

    <br>

    <input type="submit" value="ok">
</form>

<div th:if="${errors}">
    <th:block th:each="error:${errors}">
        <p  th:utext="${error.getValue()}"></p>
    </th:block>
</div>
</body>
<script type="text/javascript" th:src="@{/js/new_collection.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script th:inline="javascript">
    let imageUrl = /*[[${collection.getImage()}]]*/;
    setPrevImage(imageUrl);
</script>

</html>